<div class="manage-page">
  <nav class="manage-nav">
    <%= link_to "← フィード管理", feeds_path %>
  </nav>

  <h1>OPMLインポート</h1>

  <%= form_with url: feed_imports_path, method: :post, multipart: true, class: "manage-form" do |form| %>
    <div class="manage-form-field">
      <%= form.label :opml_file, "OPMLファイル" %>
      <%= form.file_field :opml_file, accept: ".opml,.xml" %>
    </div>

    <div>
      <%= form.submit "インポート", class: "manage-submit" %>
    </div>
  <% end %>
</div>
